doctype html
html
  head
    title= title
    //- link(rel='stylesheet' href='/assets/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    link(rel='stylesheet' href='style.css')  
  body
    .container
      nav.navbar.navbar-expand.navbar-light.bg-faded
        a.navbar-brand(href="/") The Diary
        if currentUser.isGuest()
          ul.navbar-nav.ml-auto
            li.nav-item
              a.nav-link(href="/posts/new") Write Note
            li.nav-item
              a.nav-link(href="/posts") My Note
            li.nav-item
              //- a.nav-link(href="/session/new") Sign in
              button.btn.btn-primary(type='button' data-toggle='modal' data-target='#exampleModal' data-whatever='@getbootstrap') Sign in
              #exampleModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
                .modal-dialog(role='document')
                  .modal-content
                    .modal-header
                      h5#exampleModalLabel.modal-title New message
                      button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                    .modal-body
                      form
                        .form-group
                          label.col-form-label(for='recipient-name') Recipient:
                          input#recipient-name.form-control(type='text')
                        .form-group
                          label.col-form-label(for='message-text') Message:
                          textarea#message-text.form-control
                    .modal-footer
                      button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                      button.btn.btn-primary(type='button') Send message
            li.nav-item
              a.nav-link(href="/users/new") Sign up
        else
          ul.navbar-nav.ml-auto
            li.nav-item
              a.nav-link(href="/posts/new") Write Note
            li.nav-item
              a.nav-link(href="/posts") My Note
          form.form-inline.float-xs-right(action='/session?_method=DELETE' method='post')
            button.btn.btn-link(type='submit') Sign out
      .container
        .mt-1
          for message in flash
            .alert(class=`alert-${message.type}`)
              = message.message
        block content
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
