extends layouts/app.pug

block content
  h3 Welcome to the Diary!
  p Write you ideas, minds and so on...
  //- button.btn.btn-primary(type='button' data-toggle='modal' data-target='.bd-example-modal-xl') Extra large modal
  //- .modal.fade.bd-example-modal-xl(tabindex='-1' role='dialog' aria-labelledby='myExtraLargeModalLabel' aria-hidden='true')
  //-   .modal-dialog.modal-xl
  //-     .modal-content
  //-       | ...
